* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

/*put in a color variable for rgb(164,45,85);*/

body {
	background-color: rgb(210, 210, 210);
}

div.popup-wrapper {
	background-color: rgb(212,90,87);
	border-radius: 5px;
	width: 50%;
	min-height: 450px;
	padding: 25px;
	/*Center pop-up*/
}

div.title {
	font-size: 28px;
	text-align: center;
	width: 85%;
	margin: 15px auto;
	color: #ffffff;
}

form.sample-form {
	width: 85%;
	margin-top: 40px;
	margin: 0 auto;
}

form.sample-form > div {
	margin: 15px;
}

input {
	background-color: rgb(232,169,166);
	border-radius: 5px;
	padding: 15px;
	/*height: 32px;*/
	display: block;
	margin: 10px auto;
	width: 70%;
	border: none;
}

form div.select-group {
	margin: 10px auto;
	text-align: center;
}

span {
	color: #3c3c3c;
	font-size: 16px;
	text-align: center;
	display: none;
}

/*placeholder text*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3c3c3c;
  font-size: 20px;
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3c3c3c;
  font-size: 20px;
  text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3c3c3c;
  font-size: 20px;
  text-transform: uppercase;}
:-moz-placeholder { /* Firefox 18- */
  color: #3c3c3c;
  font-size: 20px;
  text-transform: uppercase;
}

button.btn {
	background-color: rgb(212,90,87);
	border-radius: 5px;
	height: 24px;
	font-size: 20px;
}

button.popup-btn {
	background-color: rgb(232,169,166);
	font-size: 20px;
	padding: 15px;
	text-align: center;
	margin: 10px auto;
	display: block;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
}




